
.product-right .folder-button{
    background-color: white !important;
    color: red !important;
    font-size: 1.5rem !important;
    font-weight: 600;
}

.product-right .theree-d svg , .product-right .pdf svg{
    width: 60px !important;
}